body {
  font-family: Raleway, Helvetica, sans-serif;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0;
  margin: 0;
}

#menu li {
  display: inline-block;
  margin: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

#menu li a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: black;
}

#menu li.active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#menu li.active a {
  color: #fff;
}

#menu li:hover {
  background: #fff;
}

#menu li:hover a {
  color: black;
}

#sect-home {
  font-size: 1.5em;
  text-align: center;
  color: #3C3C3F;
}

#sect-about p {
  width: 60%;
  margin: 20px auto;
  font-size: 1.2em;
  line-height: 1.5;
}

#sect-contact {
  text-align: center;
}

#sect-contact i {
  color: #3C3C3F;
  margin: 20px;
}