h1 {
  width: 80%;
  margin: 3% auto 0 auto;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
  text-align: center;
  margin: 6% auto;
}

a {
  position: relative;
  text-decoration: none;
  color: #3E4246;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h2:first-of-type {
  font-size: 1em;
}

div {
  float: left;
  width: 25%;
  margin: 1%;
  margin-bottom: 6%;
}

img {
  width: 100%;
  margin-top: 2%;
  border: 6px solid #fff;
  outline: 1px solid #3E4246;
}

a:hover {
  top: -2px;
}

a:hover h2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
