main.container {
  -webkit-perspective: 2600px;
          perspective: 2600px;
}

.container {
  -webkit-perspective-origin: 50% -1400px;
          perspective-origin: 50% -1400px;
}

.stage div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.stage .back-left {
  background-color: #6b522b;
  border-left: 6px solid #574625;
  border-top: 6px solid #8a683d;
  height: 120px;
  -webkit-transform: rotateY(90deg) translateX(-256px);
          transform: rotateY(90deg) translateX(-256px);
  width: 500px;
}

.stage .back-right {
  background-color: #9c7442;
  border-right: 6px solid #78552c;
  border-top: 6px solid #b5854a;
  height: 120px;
  -webkit-transform: translateX(253px) translateZ(3px);
          transform: translateX(253px) translateZ(3px);
  width: 446px;
}

.stage .platform-left {
  background-color: #bcb3a8;
  border-bottom: 6px solid #857964;
  height: 220px;
  -webkit-transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
          transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
  width: 446px;
}

.stage .platform-right {
  background-color: #bcb3a8;
  border-bottom: 6px solid #847660;
  border-right: 6px solid #554c3d;
  height: 164px;
  -webkit-transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
          transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
  width: 446px;
}

.stage .pit-left {
  background-color: #4d4233;
  height: 600px;
  -webkit-transform: translate3D(254px, 125px, 285px);
          transform: translate3D(254px, 125px, 285px);
  width: 447px;
}

.stage .pit-right {
  background-color: #847660;
  height: 600px;
  -webkit-transform: translate3D(254px, 125px, 173px);
          transform: translate3D(254px, 125px, 173px);
  width: 451px;
}

.stage .pit-back {
  background-color: #6b522b;
  height: 220px;
  -webkit-transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
          transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
  width: 170px;
}

.stage {
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-45deg);
          transform: rotateY(-45deg);
  width: 460px;
}

.stage .shadow {
  background-color: transparent;
  height: 550px;
  -webkit-transform: rotateX(90deg) translateZ(-166px) translateX(550px);
          transform: rotateX(90deg) translateZ(-166px) translateX(550px);
  width: 550px;
}

.stage .portal {
  background-color: black;
  border-radius: 44px/62px;
  box-shadow: 0 0 15px 4px white;
  height: 72px;
  width: 48px;
}

.stage .portal:before {
  border-radius: 44px/62px;
  border: 4px solid white;
  content: "";
  display: block;
  height: 72px;
  margin-left: -4px;
  margin-top: -4px;
  width: 48px;
}

.stage .portal.red {
  background: radial-gradient(#000000, #000000 50%, #ff4640 70%);
  border: 7px solid #ff4640;
  -webkit-transform: translate3D(223px, 25px, 385px) rotateY(90deg) skewX(5deg);
          transform: translate3D(223px, 25px, 385px) rotateY(90deg) skewX(5deg);
}

.stage .portal.blue {
  background: radial-gradient(#000000, #000000 50%, #258aff 70%);
  border: 7px solid #258aff;
  -webkit-transform: translate3D(586px, 25px, 4px) skewX(-4deg);
          transform: translate3D(586px, 25px, 4px) skewX(-4deg);
}

.stage .platform-left span {
  background: radial-gradient(left, #f3cac8, #c8b8ad 70px, #bcb3a8 90px);
  display: block;
  height: 200px;
  left: 0;
  position: absolute;
  width: 120px;
}

.stage .platform-right span {
  background: radial-gradient(top, #cdebe8, #c2cbc1 40px, #bcb3a8 60px);
  display: block;
  height: 60px;
  left: 280px;
  position: absolute;
  width: 150px;
}

.stage .door {
  background: #efe8dd;
  border-bottom: 6px solid #bcb3a8;
  border-left: 7px solid #78552e;
  height: 85px;
  -webkit-transform: translate3D(450px, 34px, 4px);
          transform: translate3D(450px, 34px, 4px);
  width: 65px;
}

/*
 *  Both characters
 */
.dude, .dude-shadow {
  height: 100px;
  width: 30px;
}

.dude figure, .dude-shadow figure {
  background-color: black;
  display: block;
  position: absolute;
}

.dude figure.head, .dude-shadow figure.head {
  border-radius: 22px;
  height: 20px;
  left: 3px;
  top: 0;
  width: 20px;
}

.dude figure.body, .dude-shadow figure.body {
  border-radius: 30px 30px 0 0;
  height: 30px;
  top: 21px;
  width: 26px;
}

.dude figure.body:before, .dude figure.body:after,
.dude-shadow figure.body:before, .dude-shadow figure.body:after {
  background-color: black;
  content: "";
  height: 15px;
  position: absolute;
  top: 30px;
  width: 9px;
}

.dude figure.body:before, dude-shadow figure.body:before {
  left: 3px;
}

.dude figure.body:after, dude-shadow figure.body:after {
  left: 14px;
}

/*
 *  Left character
 */
.stage .dude.one {
  -webkit-transform: translate3D(514px, 30px, 415px) rotateY(78deg);
          transform: translate3D(514px, 30px, 415px) rotateY(78deg);
}

.stage .dude-shadow.one {
  opacity: 0.1;
  -webkit-transform: translateX(-13px) rotateX(90deg) translateY(5px);
          transform: translateX(-13px) rotateX(90deg) translateY(5px);
}

.dude.one {
  -webkit-animation: move-dude-one 10s linear infinite;
          animation: move-dude-one 10s linear infinite;
  opacity: 0;
}

/*
 *  Right character
 */
.stage .dude.two {
  -webkit-transform: translate3D(600px, 60px, 120px) rotateY(15deg);
          transform: translate3D(600px, 60px, 120px) rotateY(15deg);
}
.stage .dude.two figure.arm {
  background: black;
  height: 8px;
  position: absolute;
  top: 20px;
  width: 20px;
}
.stage .dude.two figure.arm.left {
  left: -13px;
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}
.stage .dude.two figure.arm.right {
  right: -10px;
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.stage .dude-shadow.two {
  opacity: 0.1;
  -webkit-transform: translateY(12px) translateX(-8px) translateZ(30px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg) skewX(30deg) scaleX(0.8);
          transform: translateY(12px) translateX(-18px) translateZ(-8px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg) skewX(30deg) scaleX(0.8);
}

.dude.two {
  -webkit-animation: move-dude-two 10s linear infinite;
          animation: move-dude-two 10s linear infinite;
  opacity: 0;
}

.dude.two figure.arm {
  -webkit-animation: arms 10s linear infinite;
          animation: arms 10s linear infinite;
  opacity: 0;
}


/*  Animation  */
@-webkit-keyframes move-dude-one {
  0% {
    -webkit-transform: translate3D(514px, -10px, 415px) rotateY(78deg) scaleY(2);
            transform: translate3D(514px, -10px, 415px) rotateY(78deg) scaleY(2);
  }

  1%, 18% {
    opacity: 1;
    -webkit-transform: translate3D(514px, 30px, 415px) rotateY(78deg) scaleY(1);
            transform: translate3D(514px, 30px, 415px) rotateY(78deg) scaleY(1);
  }

  34%, 39% {
    opacity: 1;
    -webkit-transform: translate3D(324px, 20px, 415px) rotateY(78deg);
            transform: translate3D(324px, 20px, 415px) rotateY(78deg);
  }

  41%, 42% {
    opacity: 1;
    -webkit-transform: translate3D(234px, 20px, 415px) rotateY(78deg);
            transform: translate3D(234px, 20px, 415px) rotateY(78deg);
  }

  43%, 100% {
    opacity: 0;
    -webkit-transform: translate3D(234px, 20px, 415px) rotateY(78deg);
            transform: translate3D(234px, 20px, 415px) rotateY(78deg);
  }
}
@keyframes move-dude-one {
  0% {
    -webkit-transform: translate3D(514px, -10px, 415px) rotateY(78deg) scaleY(2);
            transform: translate3D(514px, -10px, 415px) rotateY(78deg) scaleY(2);
  }

  1%, 18% {
    opacity: 1;
    -webkit-transform: translate3D(514px, 30px, 415px) rotateY(78deg) scaleY(1);
            transform: translate3D(514px, 30px, 415px) rotateY(78deg) scaleY(1);
  }

  34%, 39% {
    opacity: 1;
    -webkit-transform: translate3D(324px, 20px, 415px) rotateY(78deg);
            transform: translate3D(324px, 20px, 415px) rotateY(78deg);
  }

  41%, 42% {
    opacity: 1;
    -webkit-transform: translate3D(234px, 20px, 415px) rotateY(78deg);
            transform: translate3D(234px, 20px, 415px) rotateY(78deg);
  }

  43%, 100% {
    opacity: 0;
    -webkit-transform: translate3D(234px, 20px, 415px) rotateY(78deg);
            transform: translate3D(234px, 20px, 415px) rotateY(78deg);
  }
}
/*translate3D(600px, 60px, 120px)*/
@-webkit-keyframes move-dude-two {
  0%, 42% {
    opacity: 0;
    -webkit-transform: translate3D(600px, 60px, 10px) rotateY(15deg);
            transform: translate3D(600px, 60px, 10px) rotateY(15deg);
  }

  42.5% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3D(600px, 60px, 10px) rotateY(15deg);
            transform: translate3D(600px, 60px, 10px) rotateY(15deg);
  }

  46%, 75% {
    opacity: 1;
    -webkit-transform: translate3D(600px, 60px, 120px) rotateY(15deg);
            transform: translate3D(600px, 60px, 120px) rotateY(15deg);
  }

  76%, 97% {
    opacity: 1;
    -webkit-transform: translate3D(600px, 60px, 120px) rotateY(15deg);
            transform: translate3D(600px, 60px, 120px) rotateY(15deg);
  }

  98%, 100% {
    opacity: 0;
    -webkit-transform: translate3D(600px, -10px, 120px) rotateY(15deg) scaleY(2);
            transform: translate3D(600px, -10px, 120px) rotateY(15deg) scaleY(2);
  }
}

@keyframes move-dude-two {
  0%, 42% {
    opacity: 0;
    -webkit-transform: translate3D(600px, 60px, 10px) rotateY(15deg);
            transform: translate3D(600px, 60px, 10px) rotateY(15deg);
  }

  42.5% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3D(600px, 60px, 10px) rotateY(15deg);
            transform: translate3D(600px, 60px, 10px) rotateY(15deg);
  }

  46%, 75% {
    opacity: 1;
    -webkit-transform: translate3D(600px, 60px, 120px) rotateY(15deg);
            transform: translate3D(600px, 60px, 120px) rotateY(15deg);
  }

  76%, 97% {
    opacity: 1;
    -webkit-transform: translate3D(600px, 60px, 120px) rotateY(15deg);
            transform: translate3D(600px, 60px, 120px) rotateY(15deg);
  }

  98%, 100% {
    opacity: 0;
    -webkit-transform: translate3D(600px, -10px, 120px) rotateY(15deg) scaleY(2);
            transform: translate3D(600px, -10px, 120px) rotateY(15deg) scaleY(2);
  }
}

@-webkit-keyframes arms {
  0%, 53% {
    opacity: 0;
  }

  54%, 100% {
    opacity: 1;
  }
}

@keyframes arms {
  0%, 53% {
    opacity: 0;
  }

  54%, 100% {
    opacity: 1;
  }
}
