body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

h1 {
  border-bottom: 2px solid #3E4246;
}

main {
  margin: 8% auto;
  width: 80%;
}

/*  Style all buttons  */
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

/* Button A */
.btn-a {
  border: 5px solid #007DB8;
  color: #007DB8;
  overflow: hidden;
}

.btn-a:after {
  content: "";
  padding: auto;
  width: 101%;
  height: 0;
  background: #007DB8;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.btn-a:hover {
  color: #fff;
}

.btn-a:hover:after {
  height: 110%;
  opacity: 1;
}

.btn-a:active {
  top: 2px;
}

/* Button B */
.btn-b {
  background-color: #EA7C46;
  color: #fff;
  box-shadow: 0 6px #C46639;
  border-radius: 20px;

  transition: none;
}

.btn-b:hover {
  box-shadow: 0 4px #C46639;
  top: 2px;
}

.btn-b:active {
  box-shadow: 0 0 #C46639;
  top: 6px;
}

/* Button C */
.btn-c {
  background-color: #2AAB33;
  border: 3px dashed #2AAB33;
  color: white;
  padding: 20px 70px;
  border-radius: 15px;
  transition: none;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}

.btn-c > div {
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

.btn-c:active {
  top: 2px;
}

.btn-c:hover {

  color: #2AAB33;
  background: transparent;
}

/* Button D */
.perspective {
  -webkit-perspective: 600px;
          perspective: 600px;
  display: inline-block;
}

.btn-d {
  background-color: #D3444A;
  color: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.btn-d:after {
  width: 20%;
  height: 100%;
  left: 100%;
  top: 0;
  background: #A4343A;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.btn-d:hover {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}

.btn-d:active {
  background-color: #A4343A;
}

/* Button E */
.btn-e {
  background-color: #BE62AD;
  color: #fff;
  border-radius: 40px;
  transition: opacity 0.3s;
}

.active {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}