main {
  font-weight: bold;
  font-size: 3em;
  margin: 20% auto;
}

main span {
  padding: 2px;
  -webkit-animation-name: moveUpDown;
          animation-name: moveUpDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes moveUpDown {
  0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}

@keyframes moveUpDown {
  0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}